.overlay {
  width: 100%;
  height: 100vh;
  padding: 2%;
  position: absolute;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.popupContainer {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.popupContent {
  max-width: 600px;
  width: 90%;
  margin: 5%;
  padding: 2%;
  color: var(--color-text-contrast);
}

.closeBtn {
  width: 2rem;
  height: 2rem;
  background-color: rgba(241, 46, 46, 0.44);
  list-style: none;
  border: none;
  color: var(--color-text-contrast);
}

.closeBtn:hover {
  font-size: 1.5rem;
  background-color: rgba(241, 46, 46, 0.66);
  color: var(--color-text-contrast);
}
