@import "../../styles/variables.css";

.Header {
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: center;
  align-items: center;
  width: 96%;
  height: 8vh;
  min-height: 70px;
  margin: 1% 2%;
  padding: 1%;
  font-size: 1.2rem;
  text-decoration: none;
}

.Header h1 {
  margin: 2%;
}

.Header h2 {
  font-size: 2rem;
  padding: 0;
  margin: 0;
}

.Header button {
  margin: 1% auto;
  padding: 2% 2%;
  font-size: 1.2rem;
  background: var(--color-background-middle);
  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(8.1px);
  backdrop-filter: blur(8.1px);
  border: 1px solid var(--color-background-dark);
  color: var(--color-text-contrast);
  text-decoration: none;
}
.Header button:hover {
  background: var(--color-background-contrast);
}

.Header button a {
  text-decoration: none;
  color: var(--color-text-contrast);
}

.menu {
  display: flex;
  justify-content: space-around;
}
