@import "../AddDriver/AddDriver.css";

/* .Login button {
  display: flex;

  margin: 2% auto;
  padding: 2% 2%;
  font-size: 1.3rem;
  background: var(--color-background-middle);
  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(8.1px);
  backdrop-filter: blur(8.1px);
  border: 1px solid var(--color-background-dark);
  color: var(--color-text-contrast);
} */
