@import "../../styles/variables.css";

.addForm,
.good-box {
  max-width: 1200px;
  width: 96%;
  margin: 0% auto;
  padding: 4%;
}

.addForm h2 {
  padding: 0;
  margin: 0;
}

.addFrom label {
  font-weight: bold;
}

.addForm input,
.addForm textarea,
.addForm button {
  width: 100%;
  margin: 2% auto;
  padding: 2% 2%;
  font-size: 1.3rem;
  background: var(--color-background-middle);
  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(8.1px);
  backdrop-filter: blur(8.1px);
  border: 1px solid var(--color-background-dark);
  color: var(--color-text-contrast);
}

.addForm button {
  display: block;
  margin: 20px auto;
  padding: 2% 4%;
  width: 100%;
}

.loadLabel {
  display: flex;
  padding-top: 1%;
}

.loadLabel select {
  margin-left: 2%;
  width: 100%;
  padding: 1% 2%;
  font-size: 1rem;
  border-radius: 10px;
  background: var(--color-background-dark);
  color: var(--color-text-light);
}
